@media only screen and (min-width: 1025px) {

	/* ---------- hover states ---------- */

	.person:hover {
		box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2);
	}

	.person:hover .person-image .person-cta-list {
		transform: translateY(0px);
	}

	.person:hover .person-description .person-id {
		opacity: 1;
		visibility: visible;
	}

	.person-online:hover {
		border-top-color: #e6e6e6;
	}
	
	.person-online:hover .start-chat {
		margin-left: 0;
		opacity: 1;
	}

	.person-online:hover .person-online-popup {
		opacity: 1;
		visibility: visible;
	}


}



@media only screen and (max-width: 1600px) {

}



@media only screen and (max-width: 1400px) {

	ul.pagination {
		margin: 10px 0;
	}

	ul.pagination li {
		margin: 0;
		padding: 0;
	}

	ul.pagination li a {
		font-size: 12px;
		height: 18px;
		width: 18px;
	}

}



@media only screen and (max-width: 1366px) {

	.gallery-slider .person .person-image .person-position li a {
		font-size: 10px;
	}

	.gallery-slider .person .person-image .like {
		max-width: 28px;
		right: 10px;
		top: 10px;
	}

	.person .person-image .person-cta-list {
		padding: 10px 17px 5px;
	}

	.person-small .person-image .person-cta-list {
		padding: 8px 8px 3px;
	}

	.gallery-slider .person .person-image .person-cta-list li a.person-cta-webcam {
		max-width: 20px;
	}

	.gallery-slider .person .person-image .person-cta-list li a {
		max-width: 24px;
	}

	.gallery-slider .person .person-image .person-cta-list li a.person-cta-gift {
		max-width: 22px;
	}

	.person .person-description .person-description-name {
		font-size: 21px;
	}

	.person-small .person-description .person-description-name {
		font-size: 14px;
	}

	.home-intro .home-intro-content-wrapper .home-intro-content .home-intro-content-tabs {
		right: 50px;
	}

}



@media only screen and (max-width: 1280px) {

	.home-intro .home-intro-content-wrapper .home-intro-content .home-intro-content-tabs {
		right: 100px;
	}

}




@media only screen and (max-width: 1200px) {

	.main-header .header-content .header-logo {
		max-width: 240px;
	}

	.main-menu > li {
		margin: 0 8px;
	}

	.main-menu > li > a {
		font-size: 12px;
		padding: 8px 0;
	}

	.main-header .header-content .find-girls {
		float: right;
		margin-left: 6px;
		margin-top: 0;
	}

	.gift-item .gift-item-title {
		font-size: 12px;
	}

	.gift-quantity li {
		height: 26px;
	}

}















@media only screen and (max-width: 1024px) {

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 21px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 15px;
	}

	.page-title {
		margin-bottom: 25px;
	}

	.btn {
		font-size: 12px;
		height: 36px;
		line-height: 36px;
		padding: 0 15px;
	}

	.btn-big {
		font-size: 21px;
		height: 60px;
		line-height: 60px;
		min-width: 300px;
	}

	.btn-menu {
		min-width: 150px;
	}

	.btn-submit {
		font-size: 18px;
		height: 48px;
		line-height: 48px;
		min-width: 150px;
	}

	.btn-reset {
		height: 48px;
		line-height: 48px;
		min-width: 150px;
	}

	.btn-reset-with-icon {
		padding-left: 20px;
	}

	.btn-reset-with-icon .reset-icon {
		height: 16px;
		width: 16px;
	}

	.btn-file {
		height: 20px;
		line-height: 20px;
		padding-left: 20px;
	}

	.btn-social {
		font-size: 13px;
		height: 42px;
		line-height: 42px;
	}

	.section-title {
		margin-bottom: 25px;
	}

	.socials li {
		margin: 0 8px;
	}

	.socials li a {
		font-size: 28px;
	}

	.online {
		font-size: 9px;
		padding: 0 4px;
	}

	.btn-menu.find-girls {
		font-size: 12px;
		height: 34px;
		line-height: 32px;
		min-width: 1px;
		padding: 0 8px;
		margin-top: 0;
	}

	.header-content .btn-menu.find-girls {
		margin-top: 0;
	}

	.main-header .header-content {
		padding: 24px 0 20px;
	}

	.main-menu > li > a {
		font-size: 14px;
		padding: 8px 0;
	}

	.main-footer .find-girls {
		margin-top: 1px;
	}

	.home-intro .slider-wrapper {
		min-height: 500px;
	}

	.basic-slider .slick-arrow.prev-slide {
		left: 15px;
		right: auto;
	}

	.basic-slider .slick-arrow.next-slide {
		left: auto;
		right: 15px;
	}

	.basic-slider .slick-arrow {
		height: 60px;
		width: 60px;
	}

	.basic-slider .slick-arrow .control-icon {
		height: 15px;
		width: 22px;
		background-size: cover;
	}

	.basic-slider .slick-arrow .control-icon.prev-icon {
		background-size: cover;
	}

	.basic-slider .slick-arrow .control-icon.next-icon {
		background-size: cover;
	}

	.basic-slider .slick-dots {
		bottom: 15px;
	}

	.home-intro-content-tabs .tab-list .tab {
		background: #f8f8f8 none repeat scroll 0 0;
		color: #9a9a9a;
		cursor: pointer;
		font-size: 16px;
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
	}

	.home-intro .home-intro-content-wrapper .home-intro-content .home-intro-content-tabs {
		right: 80px;
	}

	.home-intro-content-tabs {
		max-width: 320px;
		min-height: 340px;
	}

	.home-intro-content-tabs .tab-panel-container {
		padding: 5px 25px 15px;
	}

	.sign-form input {
		margin-bottom: 15px;
	}

	.sign-form .agree {
		margin-bottom: 15px;
	}

	.sign-form button[type="submit"] {
		margin-bottom: 10px;
		width: 100%;
	}

	.gallery {
		padding: 30px 0;
	}

	.gallery-tabs .tab-panel-container {
		margin-bottom: 30px;
	}

	.gallery-tabs .tab-list {
		margin-bottom: 30px;
	}

	.gallery-tabs .tab-list .tab {
		font-size: 16px;
		padding: 15px 30px;
	}

	.cta-block .cta-block-image-wrapper {
		margin-bottom: 10px;
	}

	.cta-block .cta-block-title {
		font-size: 16px;
	}

	/* ---------- subpages ---------- */

	.global-content-wrapper {
		padding: 40px 0;
	}

	.person-profile-description .person-profile-action-list li {
		margin-right: 10px;
	}

	/* ---------- chat ---------- */

	.interlocutor .interlocutor-topline {
		display: none;
		font-size: 10px;
		padding: 5px 0;
	}

	.interlocutor .interlocutor-topline .interlocutor-topline-info {
		top: 12px;
	}

	.interlocutor-cta-list li {
		margin: 0 15px 0 0;
	}

	.main-footer .footer-column:nth-child(odd) {
		clear: both;
	}

	.main-footer .footer-column-2,
	.main-footer .footer-column-4 {
		padding: 0 60px;
	}

	.main-footer .footer-column-2 {
		text-align: left;
	}

	.footer-content .container {
		max-width: 768px;
		margin: 0 auto;
	}

	.footer-menu li a .online {
		left: 2px;
		top: -6px;
		font-size: 12px;
	}



	/* ---------- gifts ---------- */

	.gifts-sidebar {
		margin-right: 66px;
	}

	.gifts-content {
		margin: 0 -30px 0 -66px;
	}


	/* ---------- my profile ---------- */

	.profile-description-container .person-profile-info-block .person-profile-info-list {
		margin-right: 40px;
	}


	/* ---------- edit profile ---------- */

	.edit_profile_block .edit_profile_avatar {
		max-width: 82px;
		padding-top: 12%;
		width: 12%;
		margin-bottom: 15px;
	}

	.edit_profile_block .change_avatar_block {
		margin-right: 0;
		padding-top: 12%;
		width: 88%;
		margin-bottom: 15px;
	}

	.edit_profile_block .change_avatar_block > span {
		padding: 0 15px;
	}

	.edit_pass_block {
		margin: 0;
	}


	/* ---------- my gifts ---------- */

	.my-gifts-table img {
		max-width: 100px;
	}


	/* ---------- messages ---------- */

	.message .message-body li.message-theme {
		padding-left: 20px;
		width: 68%;
	}

	.message .message-body li.message-date {
		text-align: center;
		width: 7%;
	}

	.message-container .control-line .control-list {
		float: none;
		margin-bottom: 15px;
	}

	.message-container .control-line .message-page-navigation-list {
		float: none;
		top: 0;
	}

	.message {
		font-size: 13px;
	}

	.message .message-body li.check {
		width: 5%;
	}

	.message .message-body li.message-autor {
		width: 20%;
	}

	.message .message-body li.message-theme {
		width: 65%;
	}

	.message .message-body li.message-date {
		width: 8%;
	}

}












@media only screen and (max-width: 990px) {

	.sidebar .sidebar-title {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.main-header .header-content .header-logo {
		max-width: 170px;
		position: relative;
		top: 1px;
	}

	.main-menu > li {
		margin: 0 5px;
	}

	.main-menu > li > a {
		font-size: 12px;
		padding: 4px 0;
	}

	.main-header .header-content .find-girls {
		float: right;
		margin-left: 6px;
		margin-top: -4px;
	}

	/* ---------- person ---------- */

	.person .person-image {
		margin-bottom: 15px;
	}

	.person .person-image .person-position li a {
		font-size: 10px;
		padding: 1px 7px;
	}

	.person-small .person-image .person-position li a {
		font-size: 7px;
		padding: 1px 3px 0;
	}

	.person .person-image .like {
		max-width: 28px;
		right: 10px;
		top: 10px;
	}

	.person-small .person-image .like {
		max-width: 20px;
		right: 9px;
		top: 9px;
	}

	.person .person-image .person-cta-list {
		padding: 10px 12px 5px;
	}

	.person-small .person-image .person-cta-list {
		padding: 8px 8px 3px;
	}

	.person .person-image .person-cta-list li a.person-cta-webcam {
		max-width: 20px;
	}

	.person-small .person-image .person-cta-list li a.person-cta-webcam {
		max-width: 14px;
	}

	.person .person-image .person-cta-list li a {
		display: inline-block;
		max-width: 26px;
	}

	.person-small .person-image .person-cta-list li a {
		max-width: 16px;
	}

	.person .person-image .person-cta-list li a.person-cta-gift {
		max-width: 24px;
	}

	.person-small .person-image .person-cta-list li a.person-cta-gift {
		max-width: 17px;
	}

	.person .person-description {
		font-size: 12px;
	}

	.person .person-description .person-description-name {
		font-size: 18px;
	}

	.person-small .person-description .person-description-name {
		font-size: 14px;
	}

	.color-palette .color-item {
		margin-right: 8px;
	}


	/* ---------- profile ---------- */

	.person-profile-description .person-profile-action-list li {
		margin-right: 5px;
	}

	.person-profile-description .person-profile-action-list li a {
		font-size: 10px;
	}

	.person-profile-description .person-profile-action-list li a img {
		margin-right: 2px;
		max-width: 22px;
	}

	.person-profile-description .person-profile-action-list li a.web-link img {
		max-width: 20px;
	}

	.person-profile-description .person-profile-action-list li a.wink-link img {
		max-width: 20px;
	}

	.person-profile-description .person-profile-info-block .person-profile-info-list {
		font-size: 13px;
		margin-right: 25px;
	}

	.person-profile-description .person-profile-info-list li {
		margin-bottom: 12px;
	}

	.person-profile-description .person-profile-info-list li .person-profile-info-list-title {
		min-width: 100px;
		padding-right: 15px;
	}

	.person-profile-info-block {
		margin-bottom: 20px;
	}

	.person-profile-info-block .person-profile-info-block-title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.fancybox-slider-wrap, .fancybox-slider {
		left: 30px;
		right: 30px;
		top: 20px;
		bottom: 20px;
	}

	.fancybox-button--left, 
	.fancybox-button--right {
		display: block !important;
	}

	.fancybox-container .fancybox-controls .fancybox-infobar .fancybox-button.fancybox-button--left {
		left: 10px;
	}

	.fancybox-container .fancybox-controls .fancybox-infobar .fancybox-button.fancybox-button--right {
		right: 10px;
	}


	/* ---------- person online ---------- */

	.person-online {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.person-online .person-online-description {
		font-size: 10px;
		padding-left: 10px;
	}

	.person-online .person-online-description .person-online-name {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.person-online .person-online-description .person-online-description-content .person-online-webcam-status {
		max-width: 20px;
	}


	/* ---------- interlocutor ---------- */

	.interlocutor {
		border-bottom: 1px solid #e6e6e6;
		margin-bottom: 20px;
	}

	.interlocutor .interlocutor-description {
		font-size: 12px;
		padding-left: 10px;
	}

	.interlocutor .interlocutor-description .interlocutor-description-title {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.interlocutor-cta-list li {
		margin: 0 10px 0 0;
	}

	.interlocutor-cta-list li a {
		display: block;
		max-width: 20px;
	}

	/* ---------- chat box ---------- */

	.chat-topline .your-info {
		height: 36px;
		line-height: 36px;
		margin-left: 15px;
		padding-right: 45px;
	}

	.chat-topline .your-info .your-avatar {
		height: 36px;
		width: 36px;
	}

	.chat-topline .your-info .your-name {
		font-size: 13px;
	}

	.chat-topline .chat-top-line-action-list {
		font-size: 12px;
		top: 4px;
	}

	.chat-topline .chat-top-line-action-list li {
		margin-left: 10px;
	}

	.chat-topline .chat-mainlogo {
		max-width: 140px;
		top: 9px;
	}

	.chat-message-container {
		margin-bottom: 20px;
	}

	.print-message-form-action-list li {
		font-size: 8px;
	}

	.contact-persons {
		font-size: 10px;
		height: 20px;
		line-height: 20px;
		padding: 0 7px;
	}

	.sidebar-title .contact-persons {
		float: right;
		top: -3px;
	}

	.interlocutor .interlocutor-topline .interlocutor-topline-info {
		float: none;
		top: 0;
	}

	.interlocutor .interlocutor-topline .ready-to-videochat {
		float: none;
	}

	.person-online .start-chat {
		width: 40px;
	}

	.person-online .start-chat span {
		font-size: 10px;
		right: 5px;
		top: 41px;
	}

	.person-online .person-online-popup {
		margin-left: 45px;
		padding: 3px;
		width: 150px;
	}

	.sidebar .sidebar-title .online {
		top: 0;
	}

	.chat-message-container {
		margin-bottom: 10px;
	}

	.chat-message-container .speaker {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.chat-message-container .message {
		font-size: 13px;
		margin-bottom: 2px;
	}

	.chat-message-container .message-time {
		font-size: 10px;
	}


	/* ---------- gifts ---------- */

	.gifts-sidebar {
		margin-right: 0;
	}

	.gifts-content {
		margin: 0;
	}

	.gifts-content div[class*="col-md"] {
		width: 33.3333%;
	}

	.gift-tabs .tab-list-wrapper {
		margin-bottom: 25px;
		margin-right: 0;
		position: relative;
	}

	.gift-tabs .tab-list-wrapper .tab-list .tab {
		font-size: 13px;
		margin-right: 25px;
		padding-bottom: 15px;
	}

	.sort-price {
		font-size: 12px;
	}

	.gifts-content .gift-item {
		margin-bottom: 30px;
	}

	.gifts-pagination {
		margin-top: 20px;
	}


	/* ---------- shoping basket ---------- */

	.gifts-add-block-table tr td {
		padding: 10px;
	}

	.gifts-add-block-table {
		font-size: 13px;
	}

	.gift-quantity li.less, 
	.gift-quantity li.more {
		font-size: 13px;	
	}

	.gift-quantity li {
		height: 24px;
	}

	.gift-quantity li.quantity-counter {
		font-size: 13px;
		line-height: 22px;
	}

	.gifts-add-block-table .btn {
		font-size: 10px;
	}

	.total-text {
		font-size: 11px;
	}


	/* ---------- edit profile ---------- */

	.edit_profile_block .edit_profile_avatar {
		padding-top: 15%;
		width: 15%;
	}

	.edit_profile_block .change_avatar_block {
		padding-top: 15%;
		width: 85%;
	}


	/* ---------- my gifts ---------- */

	.my-gifts-table img {
		max-width: 70px;
	}


	/* ---------- my gallery ---------- */

	.created-albums-container div[class*="col-md"] {
		width: 33.3333%;
	}


	/* ---------- upload image ---------- */

	ul.breadcrumbs {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.drag-and-drop-area {
		font-size: 16px;
		margin-bottom: 30px;
		padding: 15px 0;
	}

	.status-label {
		height: 48px;
		width: 48px;
	}

	.status-label span {
		font-size: 9px;
	}

	.upload-image-block {
		margin-bottom: 15px;
	}

	.upload-image-block .upload-image .status-label {
		left: -15px;
		top: -15px;
	}


	/* ---------- detail message ---------- */

	.message-detail .message-autor-info {
		max-width: 315px;
	}

	.message-detail .content-area-body-bottom .control-list::after {
		display: none;
	}

	.message-detail .content-area-body-bottom .control-list {
		padding: 5px;
		text-align: center;
	}

	.message-detail .content-area-body-bottom .control-list li {
		margin: 0 1px 2px;
	}

	.message-detail .content-area-body-bottom .control-list li a {
		font-size: 11px;
	}

}




















@media only screen and (max-width: 767px) {

	p, h1, h2, h3, h4, h5, h6, ul, ol {
		margin-bottom: 15px;
	}

	img {
		margin-bottom: 15px;
	}

	.btn-big {
		min-width: 290px;
	}


	/* ---------- person ---------- */

	.person {
		margin-bottom: 20px;
	}

	.person .person-image {
		margin-bottom: 25px;
	}

	.person .person-image .person-position li a {
		font-size: 12px;
		padding: 1px 7px;
	}

	.person .person-image .like {
		max-width: 36px;
		right: 15px;
		top: 15px;
	}

	.person .person-image .person-cta-list {
		padding: 15px 17px 8px;
	}

	.person .person-image .person-cta-list li a.person-cta-webcam {
		max-width: 24px;
	}

	.person .person-image .person-cta-list li a {
		display: inline-block;
		max-width: 30px;
	}

	.person .person-image .person-cta-list li a.person-cta-gift {
		max-width: 28px;
	}

	.person .person-description {
		font-size: 14px;
	}

	.person .person-description .person-description-name {
		font-size: 24px;
	}

	/* -------------------- */

	.main-header {
		position: fixed;
	}

	.main-header .header-content {
		padding: 18px 0;
	}

	.main-header .header-content .header-logo {
		max-width: 200px;
		position: relative;
		top: 0;
		float: none;
	}

	.top-line {
		padding: 25px 0 10px;
		margin-bottom: 30px;
	}

	.profile-main-action-block {
		margin-bottom: 20px;
	}

	/* ---------- action list ---------- */

	.action-list {
		float: none;
	}

	.action-list li {
		display: block;
		margin-left: 0;
		padding: 0;
		margin-bottom: 20px;
	}

	.action-list li:last-child {
		margin-bottom: 0;
	}

	.action-list li.operator .operator-list {
		border-bottom: 1px solid #e6e6e6;
		border-radius: 0;
		border-top: 1px solid #e6e6e6;
		box-shadow: none;
		left: 0;
		margin-bottom: 10px;
		margin-top: 10px;
		min-width: 100%;
		padding: 10px 0;
		position: relative;
		top: 0;
		z-index: 0;
	}

	.action-list li.operator .operator-list li {
		margin: 0 0 5px;
		padding: 0;
	}

	.action-list li.notification .notification-count {
		left: 15px;
		position: absolute;
		right: auto;
	}

	.action-list li.loudspeaker {
		margin-left: 0;
	}

	.mobile-nav .btn-menu.find-girls {
		margin-left: 15px;
	}

	/* ---------- footer ---------- */

	.main-footer .footer-column-2, 
	.main-footer .footer-column-4 {
		padding: 0 15px;
	}

	.main-footer .footer-content {
		padding: 30px 0 5px;
	}

	.footer-content-item.footer-socials-wrapper {
		display: inline-block;
		margin-right: 0;
		max-width: 100%;
		text-align: left;
		width: 100%;
	}

	.main-footer .socials {
		float: left;
		top: 0;
	}

	.main-footer .footer-bottom-line .copy {
		font-size: 10px;
	}

	.home-intro .slider-wrapper {
		min-height: 300px;
		padding-top: 0;
	}

	.home-intro .home-intro-content-wrapper {
		left: 0;
		position: relative;
		right: 0;
		top: 0;
		padding: 15px 0;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

	.home-intro .home-intro-content-wrapper .home-intro-content .home-intro-content-tabs {
		right: 0;
	}

	.gallery-slider-wrapper {
		margin: 0;
	}

	.basic-slider .slick-arrow {
		height: 40px;
		width: 40px;
	}

	.basic-slider .slick-arrow .control-icon {
		height: 10px;
		width: 15px;
	}

	.home-intro-content-tabs .tab-list .tab {
		font-size: 14px;
	}

	.home-intro-content-tabs {
		min-height: 360px;
	}

	.gallery-tabs .tab-list {
		/*border: 1px solid #e6e6e6;*/
		margin: 0 0 20px;
		text-align: left;
		width: 100%;
	}

	.home-intro-content-tabs .tab-panel-container {
		padding: 20px 25px 25px;
	}

	.tabs .tab-list::after {
		display: none !important;
	}

	.tabs .tab-list .tab {
		display: block;
		font-size: 16px;
		padding: 15px;
		width: 100%;
	}

	.tabs .tab-list .tab::after {
		height: 1px;
		left: 0;
		right: 0;
		background: #e6e6e6;
	}

	.tabs .tab-list .tab.active {
		background: #f7473f;
		color: #fff;
	}

	.tabs .tab-list .tab.active::after {
		background: #f7473f;
	}

	.gallery-slider-wrapper .gallery-slider .slick-arrow.prev-slide {
		left: 10px;
		right: auto;
	}

	.gallery-slider-wrapper .gallery-slider .slick-arrow.next-slide {
		left: auto;
		right: 10px;
	}

	.gallery-slider-wrapper .gallery-slider .slick-arrow {
		margin-top: -50px;
	}

	.gallery-slider-wrapper .gallery-slider::before {
		box-shadow: 20px 0 50px 20px #ffffff;
		left: -30px;
	}

	.gallery-slider-wrapper .gallery-slider::after {
		box-shadow: -20px 0 50px 20px #ffffff;
		right: -30px;
	}

	.cta-block {
		margin-bottom: 30px;
	}

	.basic-section {
		padding: 20px 0;
	}


	/* ---------- cta ---------- */

	.cta .view-posts {
		margin-bottom: 25px;
		margin-top: 10px;
	}


	/* ---------- contacts ---------- */

	.contact-form {
		margin-bottom: 50px;
	}

	.contact-block-item {
		margin-bottom: 25px;
	}

	.contact-block .contact-block-title {
		margin-bottom: 25px;
	}

	.contact-form .btn-reset {
		min-width: 120px;
	}

	.search-results div[class^="col"] {
		padding: 0 15px;
	}

	.color-palette .color-item {
		margin-right: 14px;
	}


	/* ---------- profile ---------- */

	.person-profile-gallery-wrapper {
		margin-bottom: 20px;
	}

	.person-profile-description .person-profile-description-top {
		margin-bottom: 25px;
		padding-right: 0;
		position: relative;
	}

	.person-profile-description .person-profile-description-top .person-profile-status {
		position: relative;
		right: 0;
		text-align: left;
		top: 0;
	}

	.person-profile-action-list li {
		display: block;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.person-profile-description .person-profile-action-list li {
		margin-bottom: 15px;
		margin-right: 0;
	}

	.person-profile-action-list li a {
		font-size: 14px;
	}

	.person-profile-description .person-profile-action-list li a {
		font-size: 14px;
	}

	.person-profile-action-list li a img {
		margin-right: 5px;
		max-width: 28px;
	}

	.person-profile-description .person-profile-action-list li a img {
		margin-right: 5px;
		max-width: 28px;
	}

	.person-profile-action-list li a.web-link img {
		max-width: 24px;
	}

	.person-profile-description .person-profile-action-list li a.web-link img {
		max-width: 24px;
	}

	.person-profile-description .person-profile-action-list li a.wink-link img {
		max-width: 24px;
	}

	.person-profile-info-block {
		margin-bottom: 30px;
	}

	.person-profile-info-block .person-profile-info-block-title {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.person-profile-info-block .person-profile-info-list {
		float: none;
		font-size: 14px;
		margin-right: 0;
	}

	.person-profile-description .person-profile-info-block .person-profile-info-list {
		float: none;
		font-size: 14px;
		margin-right: 0;
	}

	.person-profile-description .person-profile-info-list li {
		margin-bottom: 20px;
	}

	.person-profile-description .person-profile-info-list li .person-profile-info-list-title {
		min-width: 110px;
	}


	/* ---------- more girls ---------- */

	.more-girls-online .more-girls-online-title {
		font-size: 21px;
	}


	/* ---------- gallery ---------- */

	.fancybox-container .fancybox-controls .fancybox-infobar .fancybox-button.fancybox-button--left {
		background-size: contain;
		height: 20px;
		width: 20px;
	}

	.fancybox-container .fancybox-controls .fancybox-infobar .fancybox-button.fancybox-button--right {
		background-size: contain;
		height: 20px;
		width: 20px;
	}

	.fancybox-slider-wrap, .fancybox-slider {
		bottom: 15px;
		left: 20px;
		right: 20px;
		top: 15px;
	}

	.fancybox-close-small {
		background: transparent none repeat scroll 0 0;
		right: 0;
		top: -40px;
	}


	/* ---------- gifts ---------- */

	.person-small {
		padding: 15px 15px 20px;
	}

	.gifts-total .gifts-total-icon {
		margin-right: 11px;
		max-width: 34px;
	}

	.gifts-total .gifts-total-content {
		font-size: 16px;
	}

	.gifts-sidebar {
		margin-bottom: 40px;
	}

	.gifts-sidebar .order-gifts {
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}

	.gift-tabs .tab-list-wrapper {
		margin: 0 -15px 40px;
	}

	.gift-tabs .tab-list-wrapper .tab-list {
		margin-bottom: 25px;
	}

	.gift-tabs .tab-list-wrapper .tab-list .tab {
		font-size: 16px;
		margin-right: 0;
		padding: 15px;
	}

	.gift-tabs .tab-list-wrapper .sort-price {
		font-size: 14px;
		padding: 0 15px;
		position: relative;
	}

	.gifts-content div[class*="col-md"] {
		width: 50%;
	}

	.gifts-pagination {
		margin-right: 0;
	}

	/* ---------- my-profile ---------- */

	.side-bar .profile-main-action-block {
		display: none;
	}

	.side-bar .profile-categories-block {
		display: none;
	}


	/* ---------- shoping basket ---------- */
	
	.gift-quantity li {
		height: 28px;
	}

	.gift-quantity li.less, 
	.gift-quantity li.more {
		font-size: 18px;
	}

	.gift-quantity li.quantity-counter {
		font-size: 14px;
		line-height: 26px;
	}



	/* ---------- edit profile ---------- */

	.edit_profile_fields {
		padding: 0;
	}

	.edit_pass_block {
		padding: 15px 0;
	}

	.edit_pass_block span a {
		display: inline-block;
		margin-top: 10px;
	}

	.form-left-side {
		float: none;
		width: 100%;
	}

	.form-right-side {
		float: none;
		width: 100%;
	}


	/* ---------- my-gifts ---------- */

	.my-gifts-table {
		border: 1px solid rgba(154, 154, 154, 1);
		margin-bottom: 10px;
		font-size: 11px;
		text-align: left;
	}

	.my-gifts-table tr {
		border-bottom: 1px solid rgba(154, 154, 154, 1);
	}

	.my-gifts-table tr td {
		width: 50%;
		padding: 5px;
	}

	.my-gifts-table tr td:first-child {
		border-right: 1px solid rgba(154, 154, 154, 1);
		background: rgba(230, 230, 230, 0.5);
		font-weight: 600;
	}

	.my-gifts-table img {
		max-width: 60px;
	}

	.my-gifts-table:last-of-type {
		margin-bottom: 0;
	}

	.send-gift-button-container {
		text-align: left;
	}


	/* ---------- my gallery ---------- */

	.created-albums-container div[class*="col-md"] {
		width: 50%;
	}

	.create-album-form {
		padding-right: 0;
		max-width: 100%;
	}

	.create-album-form input {
		margin: 0 0 10px;
	}

	.create-album-form button[type="submit"], 
	.create-album-form input[type="submit"] {
		position: relative;
		width: 100%;
	}


	/* ---------- upload images ---------- */

	ul.breadcrumbs {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.drag-and-drop-area {
		font-size: 14px;
		margin-bottom: 30px;
		padding: 15px 0;
	}

		/* ---------- my videos ---------- */

	.added-video {
		display: block;
		margin-bottom: 35px;
	}

	.added-video .video-container {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.added-video .description-container {
		display: block;
		padding-left: 0;
		width: 100%;
	}

	.added-video .description-container form, 
	.added-video .description-container .submit-video-form {
		left: 0;
		position: relative;
	}

	.added-video .video-container .video-inner {
		padding-top: 70%;
	}

	.added-video .description-container form textarea, 
	.added-video .description-container .submit-video-form textarea {
		height: 100px;
	}



	/* ---------- blog ---------- */

	.blog-post .blog-post-image-wrapper {
		padding-top: 60%;
	}

	.posts-pagination {
		text-align: center;
	}


	/* ---------- single blog ---------- */

	.single-blog-post .single-blog-post-image {
		padding-top: 70%;
	}



	/* ---------- chat ---------- */

	.chat-topline {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
		padding: 5px 15px;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		background: #fff;
		z-index: 100;
	}

	.chat-topline .chat-top-line-action-list {
		background: #fff none repeat scroll 0 0;
		font-size: 14px;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		padding: 20px 0 10px;
		display: none;
	}

	.chat-topline .chat-top-line-action-list li {
		display: block;
		margin: 0 0 15px;
		padding: 0 15px;
	}

	.chat-topline .chat-mainlogo {
		max-width: 40px;
		top: 0;
	}

	.sub-main.chat {
		margin-top: 45px;
	}

	.sidebar-left-wrapper::after,
	.sidebar-right-wrapper::after {
		content: '';
		display: table;
		clear: both;
	}

	.sidebar-left-wrapper {
		bottom: 0;
		left: 0;
		max-width: 270px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 50;
		left: -270px;
	}

	.sidebar-left-wrapper .left-toggle-button {
		display: block;
	}

	.sidebar-left-wrapper div[class^="col"] {
		background: #fff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding-top: 70px;
		overflow-y: auto;
		overflow-x: hidden;  
	}

	.sidebar-left-wrapper.side-collapse {
		left: 0;
	}

	.sidebar .sidebar-title {
		font-size: 18px;
	}

	.sidebar .sidebar-title .online {
		font-size: 12px;
		top: 2px;
	}

	.person-online .start-chat {
		display: none;
	}

	.person-online .person-online-popup {
		display: none;
	}

	.person-online.selected {
		border: 0 none;
	}

	.person-online .person-online-description {
		font-size: 15px;
	}

	.person-online .person-online-description .person-online-name {
		font-size: 18px;
	}

	.person-online .person-online-description .person-online-description-content .person-online-webcam-status {
		max-width: 24px;
	}

	ul.pagination {
		margin: 20px 0;
	}

	ul.pagination li {
		margin: 0 3px;
		line-height: 1;
		vertical-align: middle;
	}

	ul.pagination li a {
		font-size: 14px;
		line-height: 18px;
	}


	.chat-content-wrapper::after {
		content: '';
		display: table;
		clear: both;
	}

	.chat-content-wrapper {
		padding: 0 10px;
	}

	.interlocutor .interlocutor-topline {
		font-size: 14px;
	}

	.interlocutor .interlocutor-topline .interlocutor-topline-info {
		margin-bottom: 5px;
	}

	.interlocutor .interlocutor-topline .ready-to-videochat .ready-to-videochat-text {
		display: block;
		margin-bottom: 15px;
	}

	.interlocutor .interlocutor-topline .ready-to-videochat .btn {
		margin-left: 0;
	}

	.interlocutor .interlocutor-description .interlocutor-description-title {
		font-size: 18px;
	}

	.interlocutor .interlocutor-description {
		font-size: 14px;
	}

	.interlocutor .interlocutor-description .interlocutor-description-cta-block .interlocutor-cta-list {
		float: none;
		margin-bottom: 15px;
	}

	.interlocutor .interlocutor-description .interlocutor-description-cta-block .web-activate {
		float: none;
		margin-bottom: 15px;
		margin-top: 0;
	}

	.print-message-form-action-list {
		text-align: left;
	}

	.print-message-form-action-list li {
		display: block;
		font-size: 14px;
		margin-bottom: 20px;
		max-width: 100%;
		width: 100%;
		text-align: left;
	}

	.sidebar-right-wrapper {
		bottom: 0;
		right: 0;
		max-width: 270px;
		position: fixed;
		top: 0;
		width: 100%;
		right: -270px;
		z-index: 50;
	}

	.sidebar-right-wrapper .right-toggle-button {
		display: block;
	}

	.sidebar-right-wrapper div[class^="col"] {
		background: #fff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding-top: 70px;
		overflow-y: auto;
		overflow-x: hidden;  
	}

	.sidebar-right-wrapper.side-collapse {
		right: 0;
	}


	/* ---------- messages ---------- */

	.message-container .control-line .control-list li {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.type-list-box {
		min-width: 100%;
	}

	.message-option-list {
		width: 100%;
	}

	.filter-line .filters-list-wrapper > li {
		margin-bottom: 10px;
		width: 100%;
	}

	.message-container .message-page-navigation-list {
		margin-bottom: 20px;
	}

	.messages-wrapper {
		margin-bottom: 20px;
	}

	.message .message-body li.check {
		min-width: 25px;
	}

	.message .message-body li.message-autor {
		width: 88%;
	}

	.message .message-body li.message-theme {
		padding-left: 27px;
		width: 100%;
	}

	.message .message-body {
		position: relative;
	}

	.message .message-body li.message-date {
		position: absolute;
		right: 8px;
		top: 9px;
		width: 20%;
		text-align: right;
	}



	/* ---------- detail message ---------- */

	.message-detail .message-autor-info {
		float: none;
		max-width: 100%;
		width: 100%;
	}

	.message-detail .income-date {
		float: left;
		margin-right: 10px;
	}

	.message-detail .content-area-header {
		padding-bottom: 15px;
	}

	.message-detail .prev-next-list li a {
		font-size: 14px;
	}

	.message-detail .content-area-body-bottom .control-list {
		padding: 10px 0;
		text-align: left;
	}

	.message-detail .content-area-body-bottom .control-list li {
		display: block;
		margin: 0;
	}

	.message-detail .content-area-body-bottom .control-list li a {
		font-size: 14px;
		padding: 7px 15px;
	}


	/* ---------- history messages ---------- */

	.history-message-item .history-message-item-header {
		padding: 10px 15px;
	}

	.history-message-item .history-message-item-header .message-autor {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.history-message-item .history-message-item-header .income-date {
		float: none;
		top: 0;
	}
	
}














@media only screen and (max-width: 479px) {

	.edit_profile_block .edit_profile_avatar {
		padding-top: 20%;
		width: 20%;
	}

	.edit_profile_block .change_avatar_block {
		padding-top: 20%;
		width: 80%;
	}

	#change_avatar {
		margin-top: 5px;
	}

	.edit_pass_block span a {
		display: block;
	}

}