img {
  vertical-align: middle;
}
.img-responsive,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all all 0.2s ease-in-out ease;
  transition: all all 0.2s ease-in-out ease;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1025px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1140px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  -webkit-transition: all opacity 0.15s linear ease;
  transition: all opacity 0.15s linear ease;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 1025px) {
  .modal-lg {
    width: 900px;
  }
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  -webkit-transition: all 0.6s ease-in-out left ease;
  transition: all 0.6s ease-in-out left ease;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1025px) and (max-width: 1139px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1025px) and (max-width: 1139px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 1025px) and (max-width: 1139px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 1025px) and (max-width: 1139px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1140px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1140px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1140px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1140px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1025px) and (max-width: 1139px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1140px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  color: #313131;
  line-height: 1.43;
  background: #e6e6e6;
  /*position: relative;*/
}
body.admin-body {
  min-height: 100vh;
}
.rose-color {
  color: #eb4161;
}
.orange-color {
  color: #fe5031;
}
.green-color {
  color: #1ea92b;
}
.rose-bg {
  background-color: #eb4161;
}
.orange-bg {
  background-color: #fe5031;
}
.green-bg {
  background-color: #1ea92b;
}
.grey-bg {
  background-color: #e6e6e6;
}
h1 {
  font-family: inherit;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 1.1;
}
h2 {
  font-family: inherit;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 1.1;
}
h3 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 1.1;
}
h4 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 1.1;
}
h5 {
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 1.2;
}
h6 {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 1.2;
}
.divider {
  height: 3px;
  width: 100%;
  margin-bottom: 17px;
}
.page-title {
  text-align: center;
  margin-bottom: 35px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-bottom: 10px;
}
a,
button,
input[type="submit"] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: 0 none !important;
}
a {
  color: #eb4161;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  display: inline-block;
}
.btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff512f), color-stop(100%, #dd2476));
  background: -webkit-linear-gradient(0deg, #ff512f 0%, #dd2476 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: -webkit-linear-gradient(left, #ff512f 0%, #dd2476 100%);
  background: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff512f', endColorstr='#dd2476', GradientType=1);
  border: 0 none;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 0 15px;
  text-decoration: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff512f), color-stop(100%, #dd2476));
  background: -webkit-linear-gradient(0deg, #ff512f 0%, #dd2476 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: -webkit-linear-gradient(left, #ff512f 0%, #dd2476 100%);
  background: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff512f', endColorstr='#dd2476', GradientType=1);
}
.btn:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.btn-gift-item {
  font-size: 12px;
  font-weight: 600;
  color: #313131;
  background: #f8f8f8;
  border: 1px solid #d2d2d2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-gift-item:hover,
.btn-gift-item:focus,
.btn-gift-item:active,
.btn-gift-item:visited {
  border-color: transparent;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff512f), color-stop(100%, #dd2476));
  background: -webkit-linear-gradient(0deg, #ff512f 0%, #dd2476 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: -webkit-linear-gradient(left, #ff512f 0%, #dd2476 100%);
  background: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff512f', endColorstr='#dd2476', GradientType=1);
}
.btn-menu {
  min-width: 190px;
}
.btn-submit {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  min-width: 160px;
}
.btn-big {
  font-size: 26px;
  height: 80px;
  line-height: 80px;
  min-width: 380px;
}
.btn-green {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1ba925), color-stop(100%, #44af71));
  background: -webkit-linear-gradient(0deg, #1ba925 0%, #44af71 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1ba925), to(#44af71));
  background: -webkit-linear-gradient(left, #1ba925 0%, #44af71 100%);
  background: linear-gradient(90deg, #1ba925 0%, #44af71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ba925', endColorstr='#44af71', GradientType=1);
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green:visited {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1ba925), color-stop(100%, #44af71));
  background: -webkit-linear-gradient(0deg, #1ba925 0%, #44af71 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1ba925), to(#44af71));
  background: -webkit-linear-gradient(left, #1ba925 0%, #44af71 100%);
  background: linear-gradient(90deg, #1ba925 0%, #44af71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ba925', endColorstr='#44af71', GradientType=1);
}
.btn-blue {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3498db), color-stop(100%, #1689d2));
  background: -webkit-linear-gradient(0deg, #3498db 0%, #1689d2 100%);
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#1689d2));
  background: -webkit-linear-gradient(left, #3498db 0%, #1689d2 100%);
  background: linear-gradient(90deg, #3498db 0%, #1689d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#1689d2', GradientType=1);
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:visited {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3498db), color-stop(100%, #1689d2));
  background: -webkit-linear-gradient(0deg, #3498db 0%, #1689d2 100%);
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#1689d2));
  background: -webkit-linear-gradient(left, #3498db 0%, #1689d2 100%);
  background: linear-gradient(90deg, #3498db 0%, #1689d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#1689d2', GradientType=1);
}
.btn-disabled {
  color: #313131;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(90deg, #c0c0c0 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#c0c0c0), to(#e5e5e5));
  background: -webkit-linear-gradient(bottom, #c0c0c0 0%, #e5e5e5 100%);
  background: linear-gradient(0deg, #c0c0c0 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#c0c0c0', GradientType=0);
  height: 38px;
  line-height: 38px;
}
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active,
.btn-disabled:visited {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(90deg, #c0c0c0 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#c0c0c0), to(#e5e5e5));
  background: -webkit-linear-gradient(bottom, #c0c0c0 0%, #e5e5e5 100%);
  background: linear-gradient(0deg, #c0c0c0 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#c0c0c0', GradientType=0);
}
.btn-disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-reset {
  height: 60px;
  line-height: 60px;
  min-width: 160px;
  color: #eb4161;
  background-color: transparent;
  background-image: none;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.btn-reset:hover,
.btn-reset:focus,
.btn-reset:active,
.btn-reset:visited {
  background-image: none;
  background-color: transparent;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-reset-with-icon {
  padding-left: 30px;
}
.btn-reset-with-icon .reset-icon {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('img/reset.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn-view {
  min-width: 1px;
  padding: 0;
  font-weight: 600;
  color: #eb4161;
  background: transparent;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.btn-view:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-file {
  position: relative;
  font-weight: 600;
  text-transform: none;
  height: 24px;
  line-height: 24px;
  padding-left: 40px;
  min-width: 1px;
  background-image: url('/img/file.svg') !important;
  background-color: transparent;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  cursor: pointer;
}
.btn-status {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  min-width: 96px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-status-offline {
  color: #313131;
  background: #e5e5e5;
}
.btn-status-offline:hover {
  background: #e5e5e5;
}
.btn-status-online {
  color: #fff;
  background: #1ea92b;
}
.btn-status-online:hover {
  background: #1ea92b;
}
.btn-social {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 100%;
  max-width: 140px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
}
.btn-social-facebook {
  background: #43619e;
}
.btn-social-facebook:hover,
.btn-social-facebook:focus,
.btn-social-facebook:active,
.btn-social-facebook:visited {
  background: #43619e;
}
.btn-social-facebook:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.btn-social-google {
  background: #d74334;
}
.btn-social-google:hover,
.btn-social-google:focus,
.btn-social-google:active,
.btn-social-google:visited {
  background: #d74334;
}
.btn-social-google:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
input,
select,
textarea {
  height: 40px;
  line-height: 1;
  border: 1px solid #d2d2d2;
  padding: 0 7px;
  background-color: #f8f8f8;
  color: #313131;
  margin-bottom: 20px;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #313131;
  opacity: 1;
}
input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #313131;
  opacity: 1;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #313131;
  opacity: 1;
}
select {
  padding: 0 10px;
  background-image: url('/img/select-bg.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 96% center;
}
textarea {
  padding: 12px 15px;
  height: 130px;
}
form input,
form select,
form textarea {
  height: 40px;
  line-height: 1;
  border: 1px solid #d2d2d2;
  padding: 0 15px;
  background-color: #f8f8f8;
  color: #313131;
  margin-bottom: 20px;
}
form input::-moz-placeholder,
form select::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #313131;
  opacity: 1;
}
form input::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: #313131;
  opacity: 1;
}
form input::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #313131;
  opacity: 1;
}
form select {
  padding: 0 10px;
  background-image: url('/img/select-bg.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 96% center;
}
form textarea {
  padding: 12px 15px;
  height: 130px;
}
form label {
  display: inline-block;
  position: relative;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 13px;
  cursor: pointer;
}
form label a {
  color: #d83341;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
form input[type="checkbox"],
form input[type="radio"],
form input[type="range"] {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
form input[type="checkbox"],
form input[type="radio"] {
  position: absolute;
  left: 0;
  top: 1px;
  opacity: 0;
}
form input[type="checkbox"]:checked ~ .theme-checkbox::after,
form input[type="radio"]:checked ~ .theme-checkbox::after,
form input[type="checkbox"]:checked ~ .theme-radio::after,
form input[type="radio"]:checked ~ .theme-radio::after {
  opacity: 1;
}
form input[type="file"] {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 1px;
  opacity: 0;
  cursor: pointer;
}
form .file-type-wrapper {
  position: relative;
}
form .file-type-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
}
form .checkbox-group label,
form .radio-group label {
  padding-left: 25px;
}
form .form-item-wrapper {
  position: relative;
}
form .form-item-wrapper input,
form .form-item-wrapper select,
form .form-item-wrapper textarea {
  padding-left: 40px;
}
form .form-item-wrapper::before {
  content: '';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 13px;
  top: 9px;
  color: #a2a5a7;
}
form .form-item-wrapper.name::before {
  content: '\f007';
}
form .form-item-wrapper.email::before {
  content: '\f0e0';
}
form .form-item-wrapper.phone::before {
  content: '\f095';
}
form .form-item-wrapper.options::before {
  content: '\f0ca';
}
form .form-item-wrapper.message::before {
  content: '\f075';
}
/* ---------- custom checkbox and radio ---------- */
.theme-checkbox,
.theme-radio {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #eb4161;
  position: absolute;
  left: 0;
  top: -2px;
  cursor: pointer;
}
.theme-checkbox::after,
.theme-radio::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #eb4161;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.theme-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.theme-radio::after {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.admin-header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px 0 13px;
  z-index: 1000;
}
.admin-header .logo-container {
  width: 282px;
  float: left;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}
.admin-header .logo-container .logo-icon {
  display: block;
  max-width: 52px;
  position: relative;
  left: -8px;
}
.admin-header .logo-container.collapsed {
  width: 52px;
}
.admin-header .content-container {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 297px;
  padding-right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.admin-header .content-container .settings {
  display: block;
  width: 24px;
  float: right;
  position: relative;
  top: 9px;
  margin-left: 15px;
}
.admin-header .content-container .login-block {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  float: right;
  position: relative;
  padding: 11px 11px 11px 40px;
  margin-left: 25px;
}
.admin-header .content-container .login-block .thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.admin-header .content-container .login-block .login-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  position: relative;
  padding-right: 10px;
}
.admin-header .content-container .login-block .login-name::after {
  content: "\f107";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.admin-header .content-container .login-block .login-options {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -36px;
  display: none;
}
.admin-header .content-container .bar-toggle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
}
.admin-header .content-container .notification-list {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
}
.admin-header .content-container .notification-list li {
  padding: 0;
  vertical-align: middle;
  margin: 0 12px;
}
.admin-header .content-container .notification-list li a {
  font-size: 16px;
  display: block;
  position: relative;
  color: #313131;
  text-decoration: none;
}
.admin-header .content-container .notification-list li a:hover {
  color: #313131;
  text-decoration: none;
}
.admin-header .content-container .notification-list li a .counter {
  position: absolute;
  top: -5px;
  left: 50%;
}
.admin-header .content-container.collapsed {
  padding-left: 67px;
}
.bar-toggle {
  display: block;
  width: 24px;
  height: 18px;
  position: relative;
  display: inline-block;
}
.bar-toggle span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  background: #313131;
  height: 2px;
}
.bar-toggle span:first-child {
  top: 0;
}
.bar-toggle span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.bar-toggle span:last-child {
  bottom: 0;
}
.counter {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  display: inline-block;
  min-width: 14px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  padding: 0 3px 1px;
  text-transform: uppercase;
}
.counter.orange {
  background: #fe5031;
}
.counter.green {
  background: #1ea92b;
}
.counter.rose {
  background: #eb4161;
}
.counter.grey {
  background: #313131;
}
.login-options {
  list-style: none;
  background: #fff;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 10px 0;
  min-width: 130px;
}
.login-options li a {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  display: block;
  color: #313131;
  line-height: 1.1;
  padding: 5px 10px;
}
#tool-bar {
  margin-top: 64px;
  width: 282px;
  background: #606060;
  color: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#tool-bar .tool-bar-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: -17px;
}
#tool-bar .tool-bar-header {
  min-width: 282px;
  padding: 10px;
  margin-bottom: 15px;
}
#tool-bar .tool-bar-header .greeting-block {
  position: relative;
  padding: 10px 15px 10px 57px;
}
#tool-bar .tool-bar-header .greeting-block .greeting-avatar {
  width: 44px;
  height: 44px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
#tool-bar .tool-bar-header .greeting-block .greeting-text {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
#tool-bar .tool-bar-header .greeting-block .current-date {
  display: block;
  font-size: 11px;
}
#tool-bar .tool-bar-header .greeting-block .current-date .status {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #1ea92b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
#tool-bar .tool-bar-body {
  min-width: 282px;
  margin-bottom: 25px;
}
#tool-bar .tool-bar-footer {
  min-width: 282px;
  padding: 15px 10px 15px 62px;
}
#tool-bar.collapsed {
  width: 67px;
}
.tools-nav {
  margin: 0;
  padding: 0;
  min-width: 282px;
}
.tools-nav li {
  margin: 0;
  padding: 0;
}
.tools-nav li a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 45px 15px 67px;
  position: relative;
  color: #fff;
}
.tools-nav li a:hover {
  background: #313131;
}
.tools-nav li a .icon-wrapper {
  display: inline-block;
  width: 100%;
  max-width: 28px;
  text-align: center;
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.tools-nav li a .icon-wrapper .fa {
  font-size: 21px;
}
.tools-nav li a.drop-menu::after {
  content: "\f104";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 21px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 30px;
  top: 10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tools-nav li a.drop-menu.droped::after {
  top: 12px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.tools-nav li .sub-nav {
  margin: 0;
  padding: 0;
  display: none;
}
.tools-nav li .sub-nav li {
  margin: 0;
  padding: 0;
}
.tools-nav li .sub-nav li a {
  display: block;
  padding: 10px 15px 10px 75px;
  background: #fff;
  color: #313131;
}
.tools-nav li .sub-nav li a:hover {
  background: #a3a3a3;
  color: #fff;
}
.tools-nav li .sub-nav li.active a {
  background: #a3a3a3;
  color: #fff;
}
.tools-nav li.active a {
  background: #313131;
}
.collapse-bar {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
}
.collapse-bar .fa {
  font-size: 24px;
  position: absolute;
  left: 5px;
  top: 45%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collapse-bar:hover .fa {
  left: 0;
}
#content-area {
  position: relative;
  margin-left: 282px;
  margin-top: 64px;
  padding: 50px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#content-area .content-area-inner {
  width: 94%;
  margin: 0 auto;
  background: #fff;
  padding: 50px;
  min-height: 1300px;
}
#content-area .content-area-inner .content-title {
  margin-bottom: 20px;
}
#content-area .content-area-inner .content-area-inner-header {
  margin-bottom: 20px;
}
#content-area .btn {
  margin: 0 auto 20px;
  max-width: 130px;
  min-width: 130px;
  width: 100%;
}
#content-area .edit-list {
  margin: 0;
  text-align: center;
}
#content-area .edit-list li {
  margin: 0 5px;
}
#content-area .edit-list li a {
  display: block;
  font-size: 16px;
}
#content-area .edit-list li a:hover {
  color: #fe5031;
}
#content-area .box {
  display: inline-block;
  margin-right: 2%;
}
#content-area .box .check-group,
#content-area .box .radio-group {
  display: inline-block;
}
#content-area .check-group,
#content-area .radio-group {
  position: relative;
}
#content-area .check-group label,
#content-area .radio-group label,
#content-area .check-group input,
#content-area .radio-group input {
  margin-bottom: 0;
}
#content-area .check-group input[type="radio"],
#content-area .radio-group input[type="radio"],
#content-area .check-group input[type="checkbox"],
#content-area .radio-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
#content-area .check-group .custom-check,
#content-area .radio-group .custom-check,
#content-area .check-group .custom-radio,
#content-area .radio-group .custom-radio {
  width: 20px;
  height: 20px;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
#content-area .check-group .custom-check::after,
#content-area .radio-group .custom-check::after,
#content-area .check-group .custom-radio::after,
#content-area .radio-group .custom-radio::after {
  background: #eb4161 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  opacity: 0;
}
#content-area .check-group .custom-radio,
#content-area .radio-group .custom-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#content-area .check-group .custom-radio::after,
#content-area .radio-group .custom-radio::after {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#content-area .check-group.label-prev,
#content-area .radio-group.label-prev {
  padding-right: 24px;
}
#content-area .check-group.label-prev input[type="checkbox"],
#content-area .radio-group.label-prev input[type="checkbox"],
#content-area .check-group.label-prev input[type="radio"],
#content-area .radio-group.label-prev input[type="radio"] {
  right: 0;
  left: auto;
}
#content-area .check-group.label-prev .custom-check,
#content-area .radio-group.label-prev .custom-check,
#content-area .check-group.label-prev .custom-radio,
#content-area .radio-group.label-prev .custom-radio {
  right: 0;
  left: auto;
}
#content-area .check-group.label-next,
#content-area .radio-group.label-next {
  padding-left: 24px;
}
#content-area .check-group.label-next input[type="checkbox"],
#content-area .radio-group.label-next input[type="checkbox"],
#content-area .check-group.label-next input[type="radio"],
#content-area .radio-group.label-next input[type="radio"] {
  left: 0;
  right: auto;
}
#content-area .check-group.label-next .custom-check,
#content-area .radio-group.label-next .custom-check,
#content-area .check-group.label-next .custom-radio,
#content-area .radio-group.label-next .custom-radio {
  left: 0;
  right: auto;
}
#content-area .pagination {
  font-size: 0;
}
#content-area .pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #d2d2d2;
  text-align: center;
  line-height: 30px;
  vertical-align: top;
  margin-left: -1px;
}
#content-area .pagination li a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #313131;
}
#content-area .pagination li.active {
  color: #eb4161;
}
#content-area input[type="number"] {
  height: 40px;
  max-width: 100px;
  border: 1px solid #d2d2d2;
  padding-left: 10px;
}
#content-area .prev-img {
  background-color: #b5b5b5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  cursor: pointer;
  font-size: 70px;
  padding: 15px;
  text-align: center;
  width: 150px;
}
#content-area .add-post {
  max-width: 850px;
}
#content-area .add-post table td input[type="file"] {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 10px;
  top: 10px;
}
#content-area.expanded {
  margin-left: 67px;
}
#content-area table {
  margin-bottom: 20px;
  width: 100%;
}
#content-area table tr th {
  border: 1px solid #d2d2d2;
  background: #e6e6e6;
  font-weight: 600;
  padding: 10px;
  vertical-align: middle;
  position: relative;
}
#content-area table tr td {
  position: relative;
  border: 1px solid #d2d2d2;
  padding: 10px;
  vertical-align: middle;
}
#content-area table tr td input,
#content-area table tr td select,
#content-area table tr td textarea,
#content-area table tr td .btn {
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#content-area table tr td select {
  background-size: auto;
  background-position: 95% center;
}
#content-area table tr td button[type="submit"],
#content-area table tr td input[type="submit"] {
  width: 100%;
}
#content-area table tr td.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 22%;
}
#content-area table tr td.edit {
  width: 7%;
  min-width: 75px;
}
#content-area form.add-gift {
  max-width: 250px;
}
#content-area form.add-gift input[type="number"] {
  height: 40px;
  max-width: 100%;
  padding-left: 15px;
  width: 100%;
}
#content-area .radio-group input[type="radio"]:checked ~ .custom-radio::after {
  opacity: 1;
}
#content-area .check-group input[type="checkbox"]:checked ~ .custom-check::after {
  opacity: 1;
}
.articles-table {
  min-width: 1100px;
}
.admin-letters-search {
  max-width: 600px;
}
.admin-letters-search .btn {
  width: auto !important;
}
#gift-img {
  margin-bottom: 20px;
}
.gifts-categories {
  margin-bottom: 20px;
  padding: 0;
  font-size: 0;
}
.gifts-categories li {
  font-size: 14px;
  margin-left: -1px;
  margin-bottom: 5px;
}
.gifts-categories li span {
  font-weight: 600;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d2d2d2;
  color: #313131;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gifts-categories li.active span {
  color: #fff;
  background: #fe5031;
}
.sort-buttons-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}
.sort-buttons-list li {
  margin: 0 2px;
  line-height: 1;
}
.sort-buttons-list li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 18px;
  border: 1px solid #eb4161;
}
.sort-buttons-list li a .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sort-buttons-list li a.active {
  color: #fff;
  background: #eb4161;
}
.sort .sort-buttons-list {
  top: 10px;
}
.page-navigation {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  position: relative;
}
.page-navigation li {
  font-size: 14px;
  margin-left: -1px;
  vertical-align: top;
}
.page-navigation li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  border: 1px solid #eb4161;
  color: #313131;
}
.page-navigation li a.dots {
  border-bottom: none;
  border-top: none;
}
.page-navigation li a .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.page-navigation li.active a {
  color: #fff;
  background: #eb4161;
}
.page-nav-wrapper span {
  position: relative;
  display: inline-block;
  top: 15px;
  margin-right: 3px;
}
.page-nav-wrapper .page-navigation {
  top: -5px;
}
.card-box {
  position: relative;
  border: 1px solid #d2d2d2;
  max-width: 250px;
  margin: 0 -5px 20px;
  padding: 5px;
  text-align: center;
}
.card-box .card-box-status {
  font-family: 'Open Sans', sans-serif;
  width: 60px;
  height: 60px;
  position: absolute;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  left: -5px;
  top: -5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.card-box .card-box-status span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-box .card-box-status.yes {
  background: #1ea92b;
}
.card-box .card-box-status.no {
  background: #fe5031;
}
.card-box span {
  display: block;
}
.card-box span span {
  display: inline;
}
.card-box .card-box-image {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100%;
  margin-bottom: 20px;
}
.card-box .card-box-image.cover {
  background-size: cover;
}
.card-box .card-box-description {
  margin-bottom: 10px;
}
.card-box .card-box-edit {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.card-box .card-box-edit li {
  padding: 0;
  margin: 0 1px;
}
.card-box .card-box-edit li a {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #d2d2d2;
  color: #9a9a9a;
  position: relative;
}
.card-box .card-box-edit li a .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-box .card-box-edit li a:hover {
  color: #313131;
}
.card-box .card-box-price span {
  font-size: 18px;
  font-weight: 600;
}
.cards-wrapper {
  padding: 20px 0;
}
tr.new,
span.new {
  background-color: rgba(254, 80, 49, 0.2);
}
tr.expired,
span.expired {
  background-color: rgba(235, 65, 97, 0.2);
}
tr.approved,
span.approved {
  background-color: rgba(30, 169, 43, 0.2);
}
.admin-register-form {
  max-width: 200px;
}
.finance_user_page table,
.activity_user_page table,
.finance-leters-table {
  max-height: 500px;
  max-width: 800px;
  overflow-y: auto;
}
.update-penalty-value .finance-leters-table {
  max-width: 450px;
}
.update-penalty-value .finance-leters-table td {
  width: 33.33333% !important;
  position: relative;
}
.update-penalty-value .finance-leters-table td.edit {
  font-weight: 600;
}
.update-penalty-value .finance-leters-table td.edit::before {
  content: "\f040";
  display: inline-block;
  font-family: FontAwesome;
  font-size: ;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.update-penalty-value .finance-leters-table td.edit input {
  padding-right: 35px;
}
.user-activity-form {
  max-width: 450px;
}
.user-filter{
  text-align: center;
}
.user-filter span {
  margin-right: 5px;
  cursor: pointer;
}
.user-filter span.active {
  font-weight: 600;
}
.delete_link {
  display: inline-block;
  font-weight: 600;
}
table.price select {
  min-width: 125px;
}
table.price input[type="number"] {
  min-width: 100px;
}
table.price tr td:last-child {
  text-align: center;
}
table.price .delete_link {
  display: inline-block;
  margin-top: 10px;
}
.scroll-top {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 5px;
  bottom: 25px;
  font-size: 40px;
  color: #eb4161;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.scroll-top .fa {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scroll-top.visible {
  visibility: visible;
  opacity: 1;
}

.admin_body #layout, .admin-body #layout {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
}
.admin_body #modalMessage, .admin-body #modalMessage {
  position: absolute;
  top: calc(50% - 50px);
  left: 41%;
  height: 150px;
  width: 299px;
  background-color: #ffffff;
  display: none;
  text-align: center;
  padding: 10px;  
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  position: fixed;
  z-index: 1041;
}
.admin_body #modal-detail-message, .admin-body #modal-detail-message {
  position: fixed;
  top: 100px;
  left: 30% !important;
  width: 665px !important;
  background-color: #ffffff;
  display: none;
  padding: 30px 10px 10px 10px !important;
  font: normal 14px 'Arial' !important;
}
.admin_body #modal-detail-message .modal-info .text_msg {
  width: 100%;
  height: 140px;
  overflow-y: auto;
  padding: 0 20px;
}
.admin_body #modal-detail-message .modal-info span {
  font-weight: bold;
  padding-left: 5px;
}

#modalMessage .modal-content {
  display: inline-block;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
#modalMessage .modal-dialog {
  width: auto;
  margin: 0px;
}
#modalMessage .modal-body {
  border: none;
}
input.input-data::-webkit-inner-spin-button {
  height: 40px;
}
.album-edit div.checkbox{
  margin-bottom: 16px;
}
.album-edit div.checkbox label{
  margin-left: 10px;
}
.pos_rel {
  position: relative;
}
.pos_abs {
  position: absolute;
}
.admin-body .album_wrap .remove_btn{
  width: 35px;
  height: 35px;
  right: 2px;
  top: 2px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #e6e4e4;
  text-align: center;
}
.admin-body .remove_btn i{
  font-size: 20px;
  margin-top: 7px;
}
.system-global-wrapper{
  position: relative;
  min-height: 100vh;
}
.item_video .video-data>img{
  display: none;
}

/*person-online*/
.person-online-messages {
  font-size: 10px;
  color: #fff;
  background: #eb4161;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: -7px;
}
.person-online-messages span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.alert-danger {color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media only screen and (max-width: 767px) {
  .sticker {
    left: -15px;
  }
}
.filter-line .drop-button {
  margin: 0;
  border-radius: 0;
}
.message-detail .reply-top .reply-top-list > li .control-list {
  z-index: 10;
}
.icon {
  font-size: 40px;
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
}
.chat-message-container .message.unread-message {
background: #d2d2d2;
}
.chat-message-container .message {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
input[type="date"]::-webkit-inner-spin-button, input[type="number"]::-webkit-inner-spin-button {
  display: block;
  margin-top: 3px;
  height: 35px;
}

.tools-nav li a .notification {
  left: 85%;
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

/* end */