.chat-message-container .emojione {
    background: none;
    height: 2ex;
    width: 2.1ex;
    min-height: 20px;
    min-width: 20px;
}
.chat-list-block{
		position: relative;
	}
	.chat-name-block .tab.user-name{
		position: relative;
		float: left;
		padding: 10px 22px 10px 6px;
		background-color: #ececec;
		border-right: 1px solid #b9b9b9;
		cursor: pointer;
	}
	.new-message-marker{
		display: none;
		background-color: #40c140;
		width: 12px;
		position: absolute;
		height: 12px;
		border-radius: 50%;
		right: 5px;
		top: 13px;
	}
	.new-message .new-message-marker{
		display: block;
	}
	.chat-name-block .tab.user-name.active{
		background-color: #f9f9f9;
	}
	.chat-content-block .tab.user-content{
		display: none;

	}
	.chat-content-block .men-block-wrapper{
		overflow-x: auto;
		max-height: 405px;
		width: 90%;
		margin-left: 25px;
		margin-bottom: 30px;
		overflow-y: hidden;
	}
	.chat-content-block .men-online{
		white-space: nowrap;
	}
	.men-online .user-tile{
		cursor: pointer;
		display: inline-block;
	}
	.men-online .user-tile.active{
		background-color: #dcf0fd;
	}
	.men-online .user-tile .avatar{
		padding: 33px 31px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.chat-content-block .men-online .user-tile{
		text-align: center;
		margin-right: 5px;
	}
	.chat-list-block .new-chats{

	}
	.user {
		text-align: center;
		cursor: pointer;
	}
	.user .avatar {
		padding: 33px 31px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	}
	.set-status table td{
		border: 0;
		padding: 4px 10px;
	}
	.set-status{
		width: 250px;
	}
	.chat-letters-content .chat-list-block,.chat-letters-content .message-section{
		width: 50%;
		float: left;
	}
	.letters-labels>div{
		float: left;
		padding: 12px 5px;
		background-color: #ececec;
		border-right: 1px solid #b9b9b9;
		cursor: pointer;
	}
	.letters-labels>div.active{
		background-color: #f9f9f9;
	}
	#load-letters{
		margin-bottom: 13px;
	}
	.message-block{
		display: none;
	}
	.new-letters input.letters_caption, .new-letters input.other_user_id{
		display: block;
		padding: 6px 4px;
		margin: 7px 5px;
		width: 270px;
	}
	.new-letters button.submit{
		margin: 17px 0;
		width: 100px;		
		float: right;
	}
	.new-letters .other_user_name{
		position: absolute;
	}
	.letters-content .tab{
		padding-top: 50px;
		display: none;
	}
	.men-block-wrapper .label, .user-content .label{
		text-align: center;
		padding: 7px 0px;
		font-weight: bold;
	}
	.online-status .green{
		color: #0ac000;
	}
	.online-status .red{
		color: #ff5a41;
	}

	.chat-letters-content .chat_messages {
		/*height: 585px;*/
		clear: both;
		border: 2px solid #ccc;
		overflow: auto;
	}
	.chat-letters-content .type_mess_wrap a{
		margin-right: 5px;
	}
	.chat-letters-content .type_mess_wrap a>img{
		width:33px;
	}
	#message_text{
		padding: 8px 4px;
		width: calc(100% - 147px);
	}
	.chat-letters-content .type_mess_wrap a.send{
		font-size: 30px;
		margin-right: 25px;
		color: #adc85f;
	}
	.chat-letters-content .chat-wrapper{
		display: none;

	}
	.chat-letters-content .chat_messages{
		background: #c5bbd6;
	}
	.chat-letters-content .chat_messages .my_mes{
		clear: both;
		margin-bottom: 20px;
	}
	.chat-letters-content .chat_messages .photo_wrap{
		background: #ffffff;
		padding: 2px;
		width: 55px;
		height: 55px;
		margin-bottom: 10px;
		box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.35);
	}
	.chat-letters-content .chat_messages .photo_wrap div{
		overflow: hidden;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.chat-letters-content .chat_messages .mess_text_wrap{
		margin: 0 63px;
	}
	.chat-letters-content .chat_messages .my_mes .mess_text{
		background: #fff;
		float: right;
	}
	.chat-letters-content .chat_messages .dial_mes .mess_text{
		background: #fff;
		float: left;
	}
	.chat-letters-content .chat_messages .my_mes .mess_text{
		background: #fff;
		float: right;
	}
	.chat-letters-content .chat_messages .mess_text_wrap .mess_text{
		font-size: 16px;
		padding: 6px;
		border-radius: 5px;
		display: inline-block;
		margin-bottom: 10px;
		box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.35);
	}
	.chat-letters-content .chat_messages .mess_text_wrap .mess_text .date{
		font-size: 13px;
		margin-top: 10px;
		color: #6d6d6f;
	}
	.mess_text_wrap .mess_text span.name{
		color: #005aff;
		font-weight: 600;
	}
	.mess_text_wrap .mess_text span.text{
		font-weight: 500;
		margin-left: 4px;
	}
	.chat-letters-content .chat_messages .mess_text_wrap br{
		clear: both;
	}
	.fl-r{
		float: right;
	}
	.chat-letters-content .chat-stiker-icons, .chat-letters-content .chat-smile-icons{
		position: absolute;
		bottom: 26px;
		padding: 10px;
		background: #fff;
		border: 1px solid #c5bbd6;
		border-radius: 10px 10px 10px 0;
		display: none;
	}
	.admin_body #modalMessage{
		z-index: 100;
	}
	.new-chats .new-chat-section{
		display: none;
	}
	.blink {
		-webkit-animation: blink 1s linear infinite;
		animation: blink 1s linear infinite;
	}
	@-webkit-keyframes blink {
		80% {
			opacity: 1;
		}
		90% {
			opacity: 0.5;
		}
		100% {
			opacity: 0.5;
		}
	}
	@keyframes blink {
		80% {
			opacity: 1;
		}
		90% {
			opacity: 0.5;
		}
		100% {
			opacity: 0.5;
		}
	}
	.new-chats .new-chat-item-block{
		cursor: pointer;
		font-weight: bold;
		margin-right: 10px;
	}
	.new-chats .new-chat-item-block.active{
		color: #0000ff;
	}
	.chat-letters-content .message-section .marker.active{
		display: none;
		background-color: #40c140;
		width: 12px;
		position: absolute;
		height: 12px;
		border-radius: 50%;
		left: 120px;
		top: 7px;
	}
	.chat-box-messages-wrapper {
		min-height: 300px;
	}

	.chat-message-wrapper {
		margin-bottom: 15px;
	}

	.pos-rel{
		position: relative;
	}
	#content-area #load-letters, #content-area #load-chat {
		max-width: 450px;
	}
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ---------- chat-message-container ---------- */
.action-button {
  width: 20px;
  height: 16px;
  position: relative;
  display: block;
}
.action-button span {
  display: inline-block;
  height: 2px;
  background: #313131;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.action-button span:first-child {
  top: 0;
}
.action-button span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.action-button span:last-child {
  bottom: 0;
}
.action-button.active span:first-child {
  top: 7px;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.action-button.active span:nth-child(2) {
  opacity: 0;
}
.action-button.active span:last-child {
  bottom: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}
.file-type-wrapper {
  position: relative;
}
.sidebar-left-wrapper {
  background: #fff;
  position: relative;
  overflow-x: visible !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-left-wrapper .left-toggle-button {
  background: #eb4161;
  color: #fff;
  height: 30px;
  left: 100%;
  margin-left: 18px;
  margin-top: -62px;
  position: absolute;
  top: 50%;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  width: 190px;
  display: none;
}
.sidebar-left-wrapper .left-toggle-button span {
  display: block;
  position: absolute;
  left: 50%;
  top: 35%;
  min-width: 190px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-left-wrapper .left-toggle-button span.show-text {
  visibility: visible;
  opacity: 1;
}
.sidebar-left-wrapper .left-toggle-button span.hide-text {
  visibility: hidden;
  opacity: 0;
}
.sidebar-left-wrapper .left-toggle-button.active span.show-text {
  visibility: hidden;
  opacity: 0;
}
.sidebar-left-wrapper .left-toggle-button.active span.hide-text {
  visibility: visible;
  opacity: 1;
}
.sidebar-right-wrapper {
  background: #fff;
  position: relative;
  overflow-x: visible !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-right-wrapper .right-toggle-button {
  background: #eb4161;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  display: none;
  height: 30px;
  margin-right: -12px;
  margin-top: -62px;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-150%) rotate(-90deg);
  -ms-transform: translateY(-150%) rotate(-90deg);
  transform: translateY(-150%) rotate(-90deg);
  -webkit-transform-origin: 100% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
  width: 190px;
}
.sidebar-right-wrapper .right-toggle-button span {
  display: block;
  position: absolute;
  left: 50%;
  top: 35%;
  min-width: 190px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-right-wrapper .right-toggle-button span.show-text {
  visibility: visible;
  opacity: 1;
}
.sidebar-right-wrapper .right-toggle-button span.hide-text {
  visibility: hidden;
  opacity: 0;
}
.sidebar-right-wrapper .right-toggle-button.active span.show-text {
  visibility: hidden;
  opacity: 0;
}
.sidebar-right-wrapper .right-toggle-button.active span.hide-text {
  visibility: visible;
  opacity: 1;
}
.chat-box-messages-wrapper {
  max-height: 310px;
  margin-bottom: 20px;
  overflow: auto;
}
.chat-box-messages-wrapper .ss-scroll {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 7px;
}
.chat-message-container {
  margin-bottom: 35px;
}
.chat-message-container .speaker {
  font-size: 18px;
  font-weight: 700;
  color: #313131;
  text-transform: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 10px;
}
.chat-message-container .speaker .speaker-avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}
.chat-message-container .message {
  margin-bottom: 5px;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f7f7f7;
}
.chat-message-container .message-time {
  font-size: 12px;
  color: #eb4161;
}
.chat-message-container.interlocutor-message .speaker {
  padding-left: 50px;
}
.chat-message-container.interlocutor-message .speaker .speaker-avatar {
  left: 0;
}
.chat-message-container.your-message {
  text-align: right;
  margin-right: 15px;
}
.chat-message-container.your-message .speaker {
  padding-right: 50px;
}
.chat-message-container.your-message .speaker .speaker-avatar {
  right: 0;
}
.smile {
  display: block;
  max-width: 30px;
}
.chat-message-wrapper {
  position: relative;
}
.chat-message-wrapper .smile {
  position: absolute;
  top: 8px;
  right: 11px;
}
.print-message-form-action-list {
  width: 100%;
  font-size: 0;
  text-align: justify;
}
.print-message-form-action-list::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
}
.print-message-form-action-list li {
  font-size: 12px;
  max-width: 33.33333333%;
  text-align: left;
  vertical-align: top;
}
.print-message-form input[type="file"] {
  margin-bottom: 0;
}
#chat-message {
  margin-bottom: 15px;
}