@media only screen and (max-width: 1600px) {
	#content-area table tr td {
		padding: 10px 5px;
	}
}
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1280px) {

}
@media only screen and (max-width: 1024px) {
	#tool-bar {
		z-index: 10;
	}

	#content-area {
		margin-left: 65px;
		padding: 20px;
	}

	#content-area.expanded {
		margin-left: 65px;
	}

	#content-area .content-area-inner {
		padding: 20px;
		width: 100%;
	}

	table.price select {
		min-width: 125px;
	}

	table.price input {
		min-width: 130px;
	}
}
@media only screen and (max-width: 767px) {
	
}