@font-face {
	font-family: '';
	src: url('../fonts/.eot');
	src: url('../fonts/.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/.woff') format('woff'),
		 url('../fonts/.ttf') format('truetype'),
		 url('../fonts/.svg#AvenirLTStd-Medium') format('svg');
	font-style: normal;
	font-weight: normal;
}