.message-pagination .message_nav,
.page_pagination .message_nav,
.message-pagination .page_nav,
.page_pagination .page_nav {
  font-size: 15px;
  margin-bottom: 20px;
}
.message-pagination .message_nav span.pages_counter,
.page_pagination .message_nav span.pages_counter,
.message-pagination .page_nav span.pages_counter,
.page_pagination .page_nav span.pages_counter {
  margin-right: 15px;
  line-height: 33px;
}
.message-pagination .message_nav span .fa,
.page_pagination .message_nav span .fa,
.message-pagination .page_nav span .fa,
.page_pagination .page_nav span .fa {
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 8px 12px 8px 12px;
}
.message-pagination .message_nav span .fa:hover,
.page_pagination .message_nav span .fa:hover,
.message-pagination .page_nav span .fa:hover,
.page_pagination .page_nav span .fa:hover {
  background-color: #d83341;  
  color: #ffffff;
}
.message-pagination .message_nav span.disabled .fa:hover,
.page_pagination .message_nav span.disabled .fa:hover,
.message-pagination .page_nav span.disabled .fa:hover,
.page_pagination .page_nav span.disabled .fa:hover {
  cursor: no-drop;
  background-color: #f7f7f7;  
  color: #000000;
}
.page_pagination {
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px 0;
  }

.fl-r {
  float: right;
}
.irs-hidden-input {
  visibility: hidden;
}


.switch-title {
  margin-bottom: 6px;
  font-weight: 600;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;  
  width: 50%;
  margin-bottom: 0px;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  top: -1px;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff512f), color-stop(100%, #dd2476));
  background: -webkit-linear-gradient(0deg, #ff512f 0%, #dd2476 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#dd2476));
  background: -webkit-linear-gradient(left, #ff512f 0%, #dd2476 100%);
  background: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff512f', endColorstr='#dd2476', GradientType=1);
  height: 40px;
  line-height: 40px;
}

.gallery-photos {
  display: none;
}

.main .home-intro .slider-wrapper {
  min-height: 640px
}

form .form-item-wrapper.password::before {
  content: '\f084';
}

.home-intro-content-tabs .tab-panel {
  display: none;
}
.home-intro-content-tabs .tab-panel.active {
  display: block;
  visibility: visible!important;
  opacity: 1!important;
}

label.remember {
  font-weight: 400;
  padding-left: 32px;
  margin-bottom: 24px;
}
.forgotpass {
  text-align: center;
  margin-bottom: 24px;
}
.login-form button[type="submit"] {
  width: 100%;
}
.chat-message-wrapper {
  margin-bottom: 15px;
}

.hidden-video {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
video {
  background: black;
}

.chat-message-container.new-message {
  border: 1px solid red;
}

.messages {
  min-height: 235px;
  overflow: auto;
}
.chat-message-container .emojione, .message-box .emojione {
  background: none;
  height: 2ex;
  width: 2.1ex;
  min-height: 20px;
  min-width: 20px;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#videos-container video {
  display: block;
  max-width: 100%;
  height: auto;

}
.drop_here {
  height: 120px;
  top: 0px;
  width: 100%;
  left: 0;
  position: absolute;
}

.sticker {
  font-size: 14px;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 100%;  
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  padding-top: 20px;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: -25px;
}

.sticker.approved-status.yes {
  background-color: #09b534;
}
.sticker.approved-status.no {
  background-color: #f00;
}
.added-video {
  position: relative;
}

.sort-price a {
  text-decoration: none !important;
}

.gift-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #eb4161;
  padding: 0 10px;
  color: #eb4161;
}

.not-visible {
  visibility: hidden;
  opacity: 0;
}

.alert-danger {color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}

@media only screen and (max-width: 767px) {
  .sticker {
    left: -15px;
  }
}
.filter-line .drop-button {
  margin: 0;
  border-radius: 0;
}
.message-detail .reply-top .reply-top-list > li .control-list {
  z-index: 10;
}
.icon {
  font-size: 40px;
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
}
.chat-message-container .message.unread-message {
background: #d2d2d2;
}
.chat-message-container .message {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.loudspeaker::before{
  content: "\f00d"!important;
  display: inline!important;
  color: #e55a97;
  font: normal normal normal 20px/1 FontAwesome;
  top: 0px;
  left: 0px;
}

.loudspeaker.enabled::before{
  display: none!important;
}
ul li::before {
  background: rgba(255, 255, 255, 0);
}

.person.is-active .person-image .person-cta-list {
  transform: translateY(0px);
}
@media only screen and (min-width: 1025px) {
.person.is-active {
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2);
}
.person.is-active .person-description .person-id {
    opacity: 1;
    visibility: visible;
}
}


#messages-feed .system-message a, #messages-feed .letter-message a, #messages-feed .chat-message a {
  text-decoration: none;
  color: white;
}

.fa-big {
  font-size: 3em;
  float: left;
}

#change_avatar.change-avatar {
  border:none;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  padding: 0;
  line-height: inherit;
  text-transform: uppercase;
}

.filter-line .filters-list-wrapper li.date-b::after {
    content: "\f073";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 17px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 23px;
    color: #9a9a9a;
}

.person-avatar .status.offline {
    position: relative;
    background: #f55846 none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    vertical-align: super;
}

.like-icons {
  font: normal normal normal 20px/1 FontAwesome;
  text-align: right;
  padding-top: 5px;
}

.like-icon {
  color: #10b510;
  cursor: pointer;
}
.dislike-icon {
  color: red;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .messages-tabs .tab-list .tab {
    width: 25%!important;
  }
}

/* ---------- message feed ---------- */

#messages-feed {
  position: fixed;
  width: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 330px;
  padding: 5px;
  opacity: 1;
  z-index: 1000;
}

#messages-feed .message-item {
  background: #403f49;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px 15px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: none;
}

#messages-feed .message-item:nth-last-of-type(1) {
  margin-bottom: 0;
}

#messages-feed .message-item .message-item-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#messages-feed .message-item .message-title {
  font-size: 14px;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

#messages-feed .message-item .message-body .avatar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #9a9a9a;
  float: left; 
}

#messages-feed .message-item .message-body .text-container {
  padding-left: 65px;
  margin-top: 5px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
  font-size: 13px;
}

#messages-feed .message-item .message-body .text-container span {
  display: inline-block;
}

#messages-feed .message-item .message-body .text-container .message-autor {
  color: #eb4161;
  text-shadow: 0 0 1px #eb4161;
  margin-right: 5px;
}


#messages-feed .message-item .close {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
}

#messages-feed .message-item .close span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: #fff;
}

#messages-feed .message-item .close span:first-child {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

#messages-feed .message-item .close span:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 4px;
}

#modalContact .options:before {
  top: 40px;
}

.empty-contact-list {
  padding-bottom: 10px; 
}

.video-window.no-video:before {
  content: 'No video available';
  color: #fff;
  top: 45%;
  left: 25%;
  position: absolute;
  z-index: 1;
}

.video-chat-wrapper .video-window div.preview {
  z-index: 10;
}
.video-chat-wrapper .video-window a.play-video-chat {
  z-index: 20;
}

.video-window .video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.person-contact .item-count {
  background: red;
}

 .detail-description .gift-recipient {
  font-size: 16px;
 }

 .detail-description .gift-detail-name {
  font-size: 16px;
 }
.fancybox-slide > * {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.modal-dialog {
  position: absolute;
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-dialog .close {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: -10px;
  top: -30px;
}

.modal-dialog .close span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: #fff;
}

.modal-dialog .close span:first-child {
  top: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-dialog .close span:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 11px;
}
.translate-line {
  position: relative;
  margin-bottom: 10px;
}
.translate-buttons{
  display: inline-block;
  position: relative;
  top: 15px;
}
.translate-buttons .item{
  font-weight: bold;
  cursor: pointer;
 }
.translate-buttons .item.active{
  color: #eb4161;
}
.translate-buttons .preloader{
  display: none;
  position: absolute;
  top: 0;
  right: -24px;
}
.translate-buttons .preloader img{
  width: 16px;
}

.translate-line .mailing-list {
  float: right;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.has-error input, .has-error select, .has-error textarea {
  border-color: red;
}
.has-error .help-block {
  color: red;
  font-size: 12px;
}

.form-group.field-contactform-body {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}
.form-group.field-contactform-body textarea {
  padding: 12px 15px;
  height: 130px;
  padding-left: 40px;  
  
}
.form-group.field-contactform-body:before {
    content: '\f075';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 13px;
    top: 40px;
    color: #a2a5a7;
}

#w0 .options:before {
  top: 40px;
}
.form-group input, .form-group select, .form-group textarea {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.required label:after {
  content: '*';
}

.modal-body .container {
  width: 100%;
}



/* ---------- fullscreen modal ---------- */

.fullscreen-modal .modal-dialog  {
  width: 90%;
  max-width: 1200px;
}

.mailing-container .mailing-title {
  text-align: center;
  margin-bottom: 40px;
}


.mailing-tabs .tab-panel-container {
  position: relative;
  min-height: 330px;
}

.mailing-tabs .tab-list {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  font-size: 0;
}

.mailing-tabs .tab-list::after {
  background: #e6e6e6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}

.mailing-tabs .tab-list .tab {
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  padding: 20px 40px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.mailing-tabs .tab-list .tab::after {
  content: '';
  display: block;
  height: 3px;
  background: #f7473f;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.mailing-tabs .tab-list .tab.active {
  color: #f7473f;
}

.mailing-tabs .tab-list .tab.active::after {
  opacity: 1;
}

.mailing-tabs .tab-panel-container .tab-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.mailing-tabs .new-mailing-template-form select {
  width: 50%;
}

.mailing-proggress .mailing-proggress-title {
  margin-bottom: 36px;
}

.mailing-proggress .mailing-proggress-info-item {
  margin-bottom: 20px;
}

.mailing-proggress .mailing-proggress-info-item span {
  display: inline-block;
}

.mailing-proggress .mailing-proggress-info-item .title {
  width: 20%;
  font-weight: 600;
}

.mailing-proggress .btn {
  margin-top: 10px;
}

.existing-template-form .checkbox-group label {
  margin-bottom: 0;
  position: relative;
  top: -3px;
}

.existing-template-form textarea {
  margin-bottom: 40px;
}

.existing-template-form .checkbox-group {
  margin-bottom: 40px;
}

.existing-template-form button[type="submit"] {
  float: right;
}
.existing-template-form .checkbox-group .theme-checkbox {
  position: relative;
  left: 0;
  top: 14px;
}
.cookie-block {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 122, 252);
    text-align: center;
}
.cookie-inner {
  padding: 10px;
}
.cookie-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  font-weight: bold;    
  border: 3px solid white;
  padding: 10px;    
  display: inline-block;  
}
.card-block {
  margin: auto;
  padding-top: 20px;
  text-align: left;
}
.card-block h5 {
  text-align: left;
}
li.credit-card {  
  line-height: 1;
  font-size: 25px;
  color: #383b3c;
}